@use "../../Shared/modules/globalVars" as globalVars;

.navbar__search{
    form{
        background-color: #FAFAFA;
    }
}

.navbar__search--input{
    @include globalVars.outfit-normal;
    background-color: #FAFAFA;
}

.navbar__search--input::placeholder{
    color: #212121;
}